body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-size: 3rem;
}

.content div{
    background-color: #787878;
    border-radius: 10px;
    padding: 50px;
}

.results{
    font-size: 3rem;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: aquamarine;
    width: 400px;
    text-align: center;
    padding: 60px;
    border-radius: 20px;
}

span{
    color: red
}